{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}
    <div class="border rounded bg-light mx-auto" style="width: 450px; height: auto;">
        <form action="/login" method="post">
            <h1 class="mt-3">Sign In</h1>
            <div class="mt-3 mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary mb-4" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
