{% extends "layout.html" %}

{% block title %}
My List
{% endblock %}

{% block main %}
<div class="col-1 ms-auto my-3">
<button class="btn btn-primary align-end" type="button" id="createTable">New Table</button>
</div>
    <div id="spaceToCreate"></div>
    {% if data %}

    {% for module in data %}
    <div class="content my-5">    
        <form action="/addlist" method="post">
            <h3><input type="hidden" name="table_name" value="{{ module['title'] }}"></input>{{ module["title"] | capitalize }}</h3>
            <table class="table rounded {{ module['title'] }}" id="tableChange">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Content</th>
                        <th scope="col" class="col-1">Type</th>
                        <th scope="col" class="col-1">Rate</th>
                        <th scope="col" class="col-6">Comments</th>
                        <th scope="col" class="col-1">Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in module["table_data"] %}
                    <tr>
                        <td class="align-top">{{ row.content | title }}</td>
                        <td class="align-top">{{ row.type | title }}</td>
                        <td class="align-top">{{ row.rate }}</td>
                        <td class="align-top">{{ row.comment | capitalize }}</td>
                        <td class="align-top"><a target="_blank" href="{{ row.link }}">{% if row.link == "" %}{% else %}Go{% endif %}</a></td>
                        <td><a href="/id_table?content={{ row.id_table }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <a href="/toranking?bool=1">Show</a>
        <span class="confirmRow"></span>
        </form>
    </div>
    {% endfor %}
    {% endif %}
<div class="ml-auto"><button class="btn btn-primary align-end" type="button" id="createRow">New Row</button></div>


{% endblock %}