{% extends "layout.html" %}

{% block title %}
Ranking
{% endblock %}

{% block main %}
    
    {% if data %}
        {% for module in data %}
            <div class="d-flex mt-5" style="margin-left: 75vw;"><span class="titleR"><span class="bold">{{ module["title"] | capitalize }}</span> from </span><span class="nameR">{{ module["owner"] | capitalize }}</span></div>
            <div class="content">    
                <table class="table rounded">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1">Content</th>
                            <th scope="col" class="col-1">Type</th>
                            <th scope="col" class="col-1">Rate</th>
                            <th scope="col" class="col-6">Comments</th>
                            <th scope="col" class="col-1">Link</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in module["table_data"] %}
                            <tr>
                                <td class="align-top">{{ row.content | title }}</td>
                                <td class="align-top">{{ row.type | title }}</td>
                                <td class="align-top">{{ row.rate }}</td>
                                <td class="align-top">{{ row.comment | capitalize }}</td>
                                <td class="align-top"><a target="_blank" href="{{ row.link }}">{% if row.link == "" %}{% else %}Go{% endif %}</a></td>
                            </tr>
                        {% endfor %}                    
                    </tbody>
                </table>

                <div class="mt-1 mb-5" style="margin-left: 80vw;">
                    <h3>
                        <a href="/voteSystem?action=1&table_name={{ module['title'] }}&owner_id={{ module['id'] }}">
                            <i class="fa-solid fa-circle-up" style="color:green; font-size: 1.5rem;"></i></a>
                        <span style="font-size: 1.5rem;">{{ module["upvote"] }}</span> 
                        
                        
                        <a href="/voteSystem?action=-1&table_name={{ module['title'] }}&owner_id={{ module['id'] }}">
                            <i class="fa-solid fa-circle-down" style="color:red; font-size: 1.5rem;"></i></a>
                        <span style="font-size: 1.5rem;">{{ module["downvote"] }}</span>
                        
                    </h3>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}